$green-1: #35e65d;
$grey-0: #808080;
$grey-1: #cdd8ec;
$grey-2: #f4f7f9;
$grey-3: #b5b5b5;
$turqois-1: #35cce6;
$turqois-2: #a3eaf7;
$white: #fff;
$red: #ff0000;

@mixin message-bubble {
    background-color: $red;
    border-radius: 10px;
    padding: 15px;
    max-width: 215px;
    text-align: left;
  }
  
  @mixin widget-container-fs {
    margin: 0;
    max-width: none;
    width: 100%;
  }
  
  @mixin header-fs {
    border-radius: 0;
    flex-shrink: 0;
    position: relative;
  }
  
  @mixin title-fs {
    padding: 0 0 15px 0;
  }
  
  @mixin close-button-fs {
    background-color: $turqois-1;
    border: 0;
    display: block;
    position: absolute;
    right: 10px;
    top: 20px;
    width: 40px;
  }
  
  @mixin close-fs {
    width: 20px;
    height: 20px;
  }
  
  @mixin messages-container-fs {
    height: 100%;
    max-height: none;
  }
  
  @mixin conversation-container-fs {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  @mixin launcher-fs {
    bottom: 0;
    margin: 20px;
    position: fixed;
    right: 0;
  }